<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>SqlInjectionDemo</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://www.myget.org/F/fubumvc-edge" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://fububuild.extendhealth.com/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" />
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="3.0.0.618" Mode="Fixed" />
    <Dependency Name="FubuCore" Version="2.0.0.311" Mode="Fixed" />
    <Dependency Name="FubuMVC.Core" Version="2.1.1.1951" Mode="Fixed" />
    <Dependency Name="FubuMVC.Katana" Version="2.1.1.1951" Mode="Fixed" />
    <Dependency Name="FubuMVC.Spark" Version="2.1.1.1951" Mode="Fixed" />
    <Dependency Name="FubuMVC.StructureMap" Version="2.1.1.1949" Mode="Fixed" />
    <Dependency Name="HtmlTags" Version="2.1.0.185" Mode="Fixed" />
    <Dependency Name="Spark" Version="1.7.5.0" Mode="Fixed" />
    <Dependency Name="structuremap" Version="3.1.5.168" Mode="Fixed" />
    <Dependency Name="xunit" Version="1.8.0.1549" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>